$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~./custom';

header {
  background-color: $maingreen;
}

body {
  background-color: $lightcream;
}

.dropbtn {
  background-color: $azul;
  border: 0;
  color: $cream;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
}

.botton {
  float: right;
  margin-left: 20px;
  margin-top: 0px;
}

.setting {
  background-color: $maingreen;
}

.signout-button {
  background-color: $maingreen;
  border-radius: 45px;
  color: $cream;
  font-size: 20px;
}

.signin-button {
  background-color: $maingreen;
  border-radius: 45px;
  color: $cream;
  font-size: 20px;
}

.signup-button {
  background-color: $maingreen;
  border-radius: 45px;
  color: $cream;
  font-size: 20px;
}

.signform {
  text-align: center;
}

.signfor {
  text-align: center;
}

.email-textbox {
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 30px;
  width: 15%;
}

.pass-textbox {
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 30px;
  width: 15%;
}

.pass-confir-textbox {
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 30px;
  width: 15%;
}

.changepass {

}

.changepass1 {
  border-radius: 10px;
}

// This is a main div for allposts and myposts button
.posts_page {
  text-align: center;
  word-spacing: 15px;
}

// This is allposts button
.allposts {
  background-color: $lightgrey;
  border: 2px solid $maingreen;
  border-radius: 20px;
  box-sizing: border-box;
  color: $cream;
  font-size: 20px;
  height: 30px;
  width: 10%;
}

// This is myposts button
.myposts {
  background-color: $yellow;
  border: 2px solid $maingreen;
  border-radius: 20px;
  box-sizing: border-box;
  color: $maingreen;
  font-size: 20px;
  height: 30px;
  width: 10%;
}

.get-all-my-posts {
  font-size: 20px;
}

// This is page_page content
.pages_page {
  font-size: 15px;
  text-align: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: $lightgrey;
  border-radius: 20px;
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: $white;
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: $azul;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: $maingreen;
}

.pages-dropdown {
  word-spacing: 2px;
}

li {
  display: inline-block;
  font-size: 30px;
  text-align: center;
}

h1 {
  font-size: 120px;
  text-align: center;
}

.navbar {
  border-radius: 20px;
  background-color: $lightgrey;
  color: $lightgreen;
  font-size: 30px;
  text-align: center;
  word-spacing: 40px;
}

legend {
  font-size: 40px
}

.create {
  text-align: center;
}

.posts-title {
  background-color: $canvas;
  border: 2px solid $maingreen;
  border-radius: 20px;
  font-size: 20px;
  width: 20%;
}

.pages-title {
  background-color: $canvas;
  border: 2px solid $maingreen;
  border-radius: 20px;
  font-size: 20px;
  width: 20%;
 }

.pages-header {
  background-color: $canvas;
  border: 2px solid $maingreen;
  border-radius: 20px;
  font-size: 17px;
  width: 30%;
 }

.pages-footer {
  background-color: $canvas;
  border: 2px solid $maingreen;
  border-radius: 20px;
  font-size: 15px;
  height: 50px;
  width: 40%;
 }

.textbox {
  background-color: $canvas;
  border: 5px solid $maingreen;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 15px;
  height: 350px;
  width: 40%;
}

.submit {
  background-color: $maingreen;
  border-radius: 45px;
  color: $cream;
  font-size: 20px;
}

footer {
  background-color: $maingreen;
  box-sizing: border-box;
  font-size: 15px;
  height: 50px;
  text-align: center;
}
